# Arquivos temporários e logs
*.log
*.tmp
composer.lock
# Configuração do banco de dados
/config/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Pastas de IDEs
.vscode/
.idea/

# Dependências PHP
/vendor/

# Dependências Node.js
/node_modules/