RewriteEngine On

# Se não for arquivo ou diretório real, redireciona para /index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [QSA,L]

# Garante que o header Authorization chegue ao PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1